<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque Enfermagem</title>

    <link rel="stylesheet" href="../css/home_style.css">
</head>

<body>
    <div class="tela-login">
        <h1 id="text-login">LOGIN</h1>
        <div id="inputs">
            <p>Email:</p>
            <input type="email" name="email" id="email" placeholder="EMAIL" required>
            <p>Senha:</p>
            <input type="password" name="senha" id="senha" placeholder="PASSWORD" required>
        </div>
        <button id="enviar" type="submit">ENTRAR</button>
    </div>
    <script type="text/javascript" src="../js/home_main.js"></script>
</body>

</html>