* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100dvh;
}

#cabecalho {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
} /* OK! */

#tela-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    width: 1000px;
    min-height: 90%;
    height: auto;
    margin: 0 auto;
    padding: 30px 20px;
}

#adicionar-tarefa, #filtros {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    border: 1px solid blue;
}

#listar-tarefas {
    width: 100%;
    height: auto;
    padding: 11px;
}

.tarefa {
    width: 100%;
    padding: 11px;
}
.tarefa-nome-status {
    display: flex;
    flex-direction: row;
    width: 100%;
    line-height: 40px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.status {
    display: flex;
    flex-direction: row;
    height: 40px;
    line-height: 40px;
    width: auto;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.status input {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 4px;
}

.descricao-data {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 50%;
}

.tarefa-Desc {
    width: 70%;
    height: 100%;
}

.data-inicio-fim {
    width: 40%;
    height: 100%;
}