* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin';
}

body {
    display: flex;
    width: 100vw;
    height: 100dvh;
    align-items: center;
    justify-content: center;
}

.tela-login {
    width: 400px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-login {
    margin: 30px 0px 10px;
    font-size: 100px;
    font: 900;
}

#inputs {
    width: 80%;
}

p {
    margin-left: 8px;
    font-size: 40px;
    font-weight: 900;
}

#email,
#senha {
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 15px;
    outline: none;
    padding: 0px 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

#enviar {
    margin: 40px auto 10px;
    width: 50%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 900;
    outline: none;
    align-self: center;
}

@keyframes identifier {}